
.card-example {
  display: grid;
  width: auto;
  height: 100px;
  max-width: 750px;
  grid-template-columns: 75px auto min(1fr, 275px);
  grid-template-rows: 2fr 1fr 1fr;
  background-color: dodgerblue;
  gap: 25px;
  padding: 5px;
  align-items: center;
  height:250px;
}

.right-side {
  grid-column: 1;
  grid-row: 1 / 4;
  background-color: #f1f1f1;
}

img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
}

.image {
  grid-column: 2;
  grid-row: 1 / 4;
  background-color: #f1f1f1;
  height: auto;
  max-height: 100%;
  min-width: 25px;
  aspect-ratio: 1 / 1;
  justify-self: start;
}

.main-identifier, .top-row, .bottom-row {
  display: flex;
  justify-content: space-evenly;
  grid-row: 1 2 3;
  grid-column: 3;
  display: flex;
  flex-direction: row;
  background-color: #f1f1f1;
  gap: 10px;
}
