*.env
*.mp4
*.done
*.DS_Store
*.png
!null-image.png
!icon.png
!preview.png
song_points_by_positions.json
song_points.json
song_positions.json
Data.json
PartialData.json
Data (1).json
albums_to_colors.json
cache.json
results.json
output.json
test.service.js

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?