/*
  box shadows: https://www.cssmatic.com/box-shadow
  frosted glass: https://codepen.io/jkantner/pen/GgRagRY
*/

/* Reset */

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Consolas", monospace;
}

:root {
  --black: #363537;
  --orange: #FFC145;
  --dark-orange: #B37400;
  --light-pink: #F5DDDD;
  --pink: #FFCAD4;
  --dark-pink: #de8e8e;
  --green: #8CD867;
}

/* #region Modal Overlay */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-chart-container {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;

  width: 100%;
}

.modal-close-box {
  width: 56px;
  height: 56px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-color: var(--black);
  border-width: 5px;
  border-style: solid;
  border-radius: 28px;

  position: absolute;
  top: -12%;
  right: -3%;
  background-color:var(--orange);
}

.close {
  font-size: 56px;
  font-weight: bold;

  transform: translateY(-4px) translateX(0.5px);
}

.modal-close-box:hover,
.modal-close-box:focus {
  background-color: var(--dark-orange);
  text-decoration: none;
  cursor: pointer;
}

/* #endregion */

/* #region Tooltip CSS Styles */

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted var(--black) ; /* If you want dots under the hoverable text */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--dark-pink);
  color: var(--light-pink);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;

  border-width: 4px;
  border-style: solid;
  border-color: var(--black);
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: var(--black) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* #endregion */

/* #region Body CSS Styles */

body {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* #endregion */

/* #region Status Banner CSS Styles */

.status {
  background-color: var(--orange);
  position:fixed;
  top:0;
  width:100%;
  z-index: 100;
}

/* #endregion */

/* #region Introduction CSS Styles */ 

.introduction {
  padding: 50px;
  text-align: center;
}

.introduction__title {
  color: var(--pink);
  font-size: 4rem;
}

.text {
  color: var(--light-pink);
  font-size: 1rem;
}

.highlight {
  color: var(--green);
}

/* #endregion */

/* #region Panel CSS Styles */ 
.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panel__form-label {
  color: var(--light-pink);
}

.panel__input {
  padding: 0.5rem 1rem;
}
 
.panel__button {
  padding: 0.5rem 1rem;
  margin: 5px 0px;
  cursor: pointer;
}

.login__waiting {
  position: relative;
}

.panel__tabs {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;

  justify-content: center;
  align-items: center;
}

.panel__tab {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  background: var(--orange);
  color: var(--black);
}

.panel__tab.active {
  background: var(--dark-orange);
  color: var(--light-pink);
}

.panel__tab-footer {
  border: 5px solid var(--dark-orange);
  width: 100%;
  margin-bottom: 1rem;
}

.tab-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transform: translateY(8px);
  pointer-events: none;
}

.tab-content.active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity .25s ease, transform .25s ease;

  pointer-events: auto;
}

.tab-content[hidden] {
  display: none;
}

/* #endregion */

/* #region Chart Cards CSS Styles */

.top-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin: 15px;
  width: 100%;
  max-width: 700px;
  color: var(--black);
}

.chart-navigation {
  display: flex;
  align-items: center;
  height: 40px;
  background: var(--pink);
  padding: 10px;
  border-radius: 1rem;
}

.chart__arrow {
  padding: 0px 10px;
  height: 100%;
  cursor: pointer;
}

#previous {
  border-radius: 1rem 0 0 1rem;
}

.chart__dropdown {
  cursor: pointer;
  width: 200px;
  height: 100%;
  margin: 10px;
}

#next {
  border-radius: 0 1rem 1rem 0;
}

.chart__info-button {
  background-color: var(--orange);
  width: 26px;
  height: 26px;
  border-radius: 10px;

  margin-left: 10px;

  border-width: 4px;
  border-color: var(--black);
  border-style: solid;
  border-radius: 28px;
}

.chart__info-button:hover {
  background-color: var(--dark-orange);
  text-decoration: none;
  cursor: pointer;
}

.chart__song {
  display: grid;
  position: relative;
  width: 100%;
  max-width: 700px;

  grid-template-columns: 75px 190px 1fr;
  grid-template-rows: 2fr 1fr 1fr;

  background-color: var(--light-pink);
  gap: 5px;
  padding: 5px;

  align-items: center;
  height:200px;
  border-radius: 1rem;
  box-shadow: 1px 4px 10px 3px var(--dark-pink);
}

.chart__position {
  display: flex;
  position: relative;
  grid-column: 1;
  grid-row: 1 / 4;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  border-radius: 1rem 0 0 1rem;
  background-color: var(--pink);
}

.chart__position-header {
  display: flex;
  align-items: flex-end;
  gap: 0 3px;
}

.chart__position-header h6 {
    position: relative;
    margin: 5px 0 0 0;
    bottom: 3px;
}

.chart__icon {
  grid-column: 2;
  grid-row: 1 / 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--pink);
  height: auto;
  max-height: 100%;
  min-width: 25px;
  aspect-ratio: 1 / 1;
  border-radius: 0;
  justify-self: start;
}

.chart__icon img {
  width: 90%;
  height: 90%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
  margin: 5px;
  
}

.chart__identifier-extra {
  display: flex;
  flex-direction: row;
}

.chart__identifier, .chart__main, .chart__extra {
  display: flex;
  justify-content: space-evenly;
  grid-row: 1 2 3;
  grid-column: 3;
  display: flex;
  background-color: var(--pink);
  gap: 10px;
  padding: 5px;
  align-items: center;
  height: 100%;
  /* overflow: hidden; */
}

.chart__main, .chart__extra {
  flex-direction: row;
}

.chart__extra {
  border-radius: 0 0 1rem 0;
}

.chart__identifier {
  flex-direction: column;
  border-radius: 0 1rem 0 0;
}

/* #endregion */

/* #region Animated Video CSS Styles */
/* https://freefrontend.com/css-progress-bars/ <<-- Adapt Ideas from Here*/
#canvas-container {
  position: relative;
  height: 540px;
  width: 960px;
}

#canvas {
  height: 540px;
  width: 960px;
}

.progress {
  inset: 0;
  pointer-events: none;
}

.progress__overlay {
  position: absolute;
  inset: 0;
  /* bottom: 20px;
  left: 50%;
  transform: translateX(-50%); */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 

  /* width: 60%; */
  background: rgba(0, 0, 0, 0.6);
  /* padding: 12px; */
  gap: 30px;
  /* border-radius: 8px; */
}

.progress__loader {
  width: 70px;
  height: 70px;
  border: 5px solid var(--light-pink);
  border-top-color: var(--dark-pink);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.progress__bar {
  width: 350px;
  height: 10px;
  background: #F5DDDD;
  border-radius: 5px;
  overflow: hidden;
}

.progress__complete-bar {
  height: 100%;
  width: 0%;
  background: #de8e8e;
  border-radius: 5px;
  transition: width .3s ease;
}

.progress__status {
  margin-top: 10px;
  width: 350px;
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  letter-spacing: 1px;
  color: #de8e8e;
  text-transform: uppercase;
}

.progress__status span {
  color: #de8e8e;
}

.animated-chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 15px;
  padding: 5px;
  background: #FFC145;

  width: fit-content;
  height: fit-content;
  flex-shrink: 0;
}

.animated-chart__video {
  width: 960px;
  height: 540px;
}

/* #endregion */

/* #region Statistic CSS Styles */

#statistics-tab {
  flex-direction: column;
  padding: 10px;
}

.statistics {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.statistics__category {
  /* background-color: var(--orange); */
  list-style-position: inside;
  margin: 15px;

  /* flex-grow: 1;
  flex-basis: 300px; */
  max-width: 500px;
  min-width: 400px;
}

.statistics__title {
  width: fit-content;
  min-width: 50%;
  padding: 0 10px;
  
  height: 24px;
  border-radius: 24px 24px 0 0;
  background-color: var(--dark-pink);
}

.statistics__title h2 {
  text-align: center;
  padding: 0 15px;
}

.statistics__content {
  padding: 10px;

  border: 10px solid var(--dark-pink);
  border-radius: 0 24px 24px 24px;
  background-color: var(--light-pink);
}


.statistics__category ol li {
  list-style-type: decimal;
  border-bottom: 1px solid var(--dark-pink);
}

.statistics__category ul li {
  border-bottom: 1px solid var(--dark-pink);
}

.accordion {
  background-color: var(--pink);
  color: var(--black);
  cursor: pointer;
  padding: 20;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 28px;
}

.accordion.active, .accordion:hover {
  background-color: var(--dark-pink);
}

.accordion:after {
  content: '+';
  font-size: 28px;
  color: var(--black);
  float: right;
  margin-right: 5px;
}

.accordion.active:after {
  content: "—";
  font-size: 28px;
}

/* #endregion */

/* #region About Page CSS Styles */

.about__buffer {
  position: sticky;
  bottom: -10px;
  
  background-color: var(--light-pink);
  width: 100%;
  height: 50px;
  transform: translateY(5px);

  border-top: 5px solid var(--black);
}

.about {
  position: sticky;
  bottom: var(--about-bottom);
  
  margin: 0px 0 0 0;
  background-color: var(--light-pink);
  color: var(--black);
}

.about__border {
  position: absolute;
  top: -5px;
  left: 0;

  width: 100%;
}

.about__content {
  padding: 0 50px 50px 50px;
}

.about__title:hover {
  cursor: pointer;
}

.about__description {
  margin: 15px 0;
  color: var(--black);
}

.about__roundmap {
  margin: 15px 0 0 0;
  color: var(--black);
}

/* #endregion */

