/*
  box shadows: https://www.cssmatic.com/box-shadow
  frosted glass: https://codepen.io/jkantner/pen/GgRagRY
*/

/* Reset */

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Consolas", monospace;
}

button {
  color: none;
  border: none;
}

/* Body */

body {
  background-color: #363537;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Introduction */ 

.introduction {
  padding: 50px;
  text-align: center;
}

.introduction__title {
  color: #FFCAD4;
  font-size: 4rem;
}

.introduction__description {
  color: #F5DDDD;
  font-size: 1rem;
}

.introduction__highlight {
  color: #8CD867;
}

/* Panel */ 
.panel {
  display: grid;
}

.panel__form-label {
  color: #F5DDDD;
}

.panel__input {
  padding: 10px;
}

.panel__button {
  padding: 10px 20px;
  margin: 5px 0px;
}

/* Chart Cards CSS Styles */

.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin: 15px;
  color: #363537;
}

.chart__song {
  display: grid;
  width: 100%;
  max-width: 750px;

  grid-template-columns: 75px 190px 1fr;
  grid-template-rows: 2fr 1fr 1fr;

  background-color: #F5DDDD;
  gap: 5px;
  padding: 5px;

  align-items: center;
  height:200px;
  border-radius: 1rem;
  box-shadow: 1px 4px 10px 3px #de8e8e;
}

.chart__position {
  display: flex;
  grid-column: 1;
  grid-row: 1 / 4;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  border-radius: 1rem 0 0 1rem;
  background-color: #FFCAD4;
}

.chart__icon {
  grid-column: 2;
  grid-row: 1 / 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFCAD4;
  height: auto;
  max-height: 100%;
  min-width: 25px;
  aspect-ratio: 1 / 1;
  border-radius: 0;
  justify-self: start;
}

.chart__icon img {
  width: 90%;
  height: 90%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
  margin: 5px;
  
}

.chart__identifier-extra {
  display: flex;
  flex-direction: row;
}

.chart__identifier, .chart__main, .chart__extra {
  display: flex;
  justify-content: space-evenly;
  grid-row: 1 2 3;
  grid-column: 3;
  display: flex;
  background-color: #FFCAD4;
  gap: 10px;
  padding: 5px;
  align-items: center;
  height: 100%;
}

.chart__main, .chart__extra {
  flex-direction: row;
}

.chart__extra {
  border-radius: 0 0 1rem 0;
}

.chart__identifier {
  flex-direction: column;
  border-radius: 0 1rem 0 0;
}

/* About Page CSS Styles */

.about {
  padding: 50px;
  margin: 50px 0px 0px 0px;
  background-color: #F5DDDD;
  color: #363537;
}

.about__description {
  padding: 15px 0;
  color: #363537;
}




